body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
}

.part-one, .part-two, .part-three {
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.part-one {
    background-color: #1F2937;
}
.hero {
    
  padding: 80px 120px;
    display: flex;
    gap: 2em;
}

.left, .right {
    flex: 1;
    
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.sign-up {
    color:#F9FAF8;
    background-color: #3882F6;
    padding: 4px 16px;
    border-radius: 5px;
}

.right {
    background-color: grey;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding: 16px 16px 16px 0;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.image {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.big-container {
    display: flex;
    justify-content: center;
    gap: 5em;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.under-image {
    font-size: 18px;
    max-width: 150px;
}

.part-three {
    background-color: #E5E7EB;
}